{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{{ news.title }}
{% endblock title %}

{% block content %}
    <h1>{{ news.title|censor }}</h1>
    <p><strong>Дата:</strong> {{ news.created_at|date:'d.m.Y H:i' }}</p>
    <p><strong>Автор:</strong> {{ news.author.user.username }}</p>
    <p><strong>Рейтинг:</strong> {{ news.rating }}</p>

    <hr>

    <p>{{ news.content|censor }}</p>

    <br>
    <a href="{% url 'news_list' %}"> Назад к списку новостей</a>

{% endblock content %}