{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Список новостей
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>


    <h3>Всего новостей: {{ news_list|length }}</h3>

    <hr>

    {% if news_list %}
        <table>
            <tr>
                <td><strong>Заголовок</strong></td>
                <td><strong>Дата публикации</strong></td>
                <td><strong>Текст</strong></td>
            </tr>

            {% for news in news_list %}
            <tr>
                <td>
                    <a href="{% url 'news_detail' news.id %}">
                        {{ news.title|censor }}
                    </a>
                </td>
                <td>{{ news.created_at|date:'d.m.Y' }}</td>
                <td>{{ news.content|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}