{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Список новостей
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>


    <h3>Всего новостей: {{ news_list|length }}</h3>

    <hr>

    {% if news_list %}
        <table>
            <tr>
                <td><strong>Заголовок</strong></td>
                <td><strong>Дата публикации</strong></td>
                <td><strong>Текст</strong></td>
            </tr>

            {% for news in news_list %}
            <tr>
                <td>
                    <a href="{% url 'news_detail' news.id %}">
                        > {{ news.title|censor }}
                    </a>
                </td>
                <td>{{ news.created_at|date:'d.m.Y' }}</td>
                <td>{{ news.content|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

<br>
<div>
    <a href="{% url 'news_create' %}">Добавить новость</a>
    <a href="{% url 'post_search' %}" style="margin-left: 20px;">Поиск</a>
</div>

{% endblock content %}